@using PersonalStockTrader.Common
@{
    this.ViewData["Title"] = "About Us";
}

<!-- Page Content -->
<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>@this.ViewData["Title"]</h1>
                <span>We have over 2 years of experience</span>
            </div>
        </div>
    </div>
</div>

<div class="more-info about-info">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="more-info-content">
                    <div class="row">
                        <div class="col-md-6 align-self-center">
                            <div class="right-content">
                                <span>our solid background on finance</span>
                                <h2>Get to know about <em>our company</em></h2>
                                <p>
                                    We are a young company and are just entering the global economic jungle company. All our employees are excellent specialists in their field. Our main goal is to bring success to our customers.
                                    <br><br>By registering and indicating your starting balance, your account will be reviewed and approved by our account managers. When you transfer money, you will have a functioning account.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="left-image">
                                <img src="~/images/about-image.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="team">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Our team <em>members</em></h2>
                    <span>Suspendisse a ante in neque iaculis lacinia</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-item">
                    <img src="~/images/team_01.jpg" alt="">
                    <div class="down-content">
                        <h4>William Smith</h4>
                        <span>Co-Founder</span>
                        <p>Graduated from Harvard. One of the bearers of the idea for the creation of this company.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-item">
                    <img src="~/images/team_02.jpg" alt="">
                    <div class="down-content">
                        <h4>Mary Houston</h4>
                        <span>Chief Marketing Officer</span>
                        <p>Everything nice and beautiful about promoting @GlobalConstants.SystemDisplayName is related to her.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-item">
                    <img src="~/images/team_03.jpg" alt="">
                    <div class="down-content">
                        <h4>Paul Walker</h4>
                        <span>Financial Analyst</span>
                        <p>All the graphics and related analysis are due to him.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fun-facts">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="left-content">
                    <span>We aim to satisfy your needs</span>
                    <h2>Our solutions for your <em>business growth</em></h2>
                    <p>
                        We dedicate our business to work for our customers. We have a wide range of institutional, commercial, professional and retail customers around the globe
                        <br><br>We offer our clients a more extensive global exchange network.
                    </p>
                    <!-- <a href="" class="filled-button">Read More</a> -->
                </div>
            </div>
            <div class="col-md-6 align-self-center">
                <div class="row">
                    <div class="col-md-6">
                        <div class="count-area-content">
                            <div class="count-digit">9450</div>
                            <div class="count-title">Satisfied customers</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="count-area-content">
                            <div class="count-digit">40</div>
                            <div class="count-title">Trading indicators</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="count-area-content">
                            <div class="count-digit">120</div>
                            <div class="count-title">Available stocks</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="count-area-content">
                            <div class="count-digit">5</div>
                            <div class="count-title">Digital currencies</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        const item = document.getElementById('about');
        item.classList.add('active');
    </script>
}