@page
@using PersonalStockTrader.Common
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h4>Welcome back!</h4>
<h6 class="font-weight-light">Happy to see you again!</h6>
<form id="account" method="post" class="pt-3">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Input.Username"></label>
        <div class="input-group">
            <div class="input-group-prepend bg-transparent">
                <span class="input-group-text bg-transparent border-right-0">
                    <i class="mdi mdi-account-outline text-info"></i>
                </span>
            </div>
            <input type="text" class="form-control form-control-lg border-left-0" placeholder="Username" asp-for="Input.Username">
            <span asp-validation-for="Input.Username" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Input.Password"></label>
        <div class="input-group">
            <div class="input-group-prepend bg-transparent">
                <span class="input-group-text bg-transparent border-right-0">
                    <i class="mdi mdi-lock-outline text-info"></i>
                </span>
            </div>
            <input type="password" class="form-control form-control-lg border-left-0" placeholder="Password" asp-for="Input.Password">
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group my-2 d-flex justify-content-between align-items-center">
        <div class="form-check form-check-info">
            <label asp-for="Input.RememberMe" class="form-check-label text-muted">
                <input asp-for="Input.RememberMe" type="checkbox" class="form-check-input">
                @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>
        </div>
        <div>
            <a id="forgot-password" asp-page="./ForgotPassword" class="auth-link text-black">Forgot password?</a>
        </div>
    </div>
    <hr />
    <div class="form-group my-3">
        <button type="submit" class="btn btn-block btn-info btn-lg font-weight-medium auth-form-btn">LOGIN</button>
    </div>
    <div class="form-group text-center mt-4 font-weight-light">
        Don't have an account? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-info">Create</a>
    </div>
</form>
