@model PersonalStockTrader.Web.ViewModels.Contact.ContactFormViewModel
@{
    this.ViewData["Title"] = "Contact Us";
}

<!-- Page Content -->
<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>@this.ViewData["Title"]</h1>
                <span>feel free to contact us now!</span>
            </div>
        </div>
    </div>
</div>

<div class="contact-information">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="contact-item">
                    <i class="fa fa-phone"></i>
                    <h4>Phone</h4>
                    <p>We work every day from 00:00 to 24:00. Every time there is one of us ready to help you.</p>
                    <a href="#">+359 888 888 888</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-item">
                    <i class="fa fa-envelope"></i>
                    <h4>Email</h4>
                    <p>Every e-mail will be replayed in 2 days max.</p>
                    <a href="#">personal.stock.trader@gmail.com</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-item">
                    <i class="fa fa-map-marker"></i>
                    <h4>Location</h4>
                    <p>15-17 "Tintyava" Str.<br> Sofia, Bulgaria</p>
                    <a href="#">View on Google Maps</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="callback-form contact-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Send us a <em>message</em></h2>
                    <span>We take every email very seriously</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="contact-form">
                    <form id="contact" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <fieldset>
                                    <input type="text" class="form-control" id="name" asp-for="Name" placeholder="Full Name">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </fieldset>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <fieldset>
                                    <input type="text" class="form-control" id="email" asp-for="Email" placeholder="E-Mail Address">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </fieldset>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <fieldset>
                                    <input type="text" class="form-control" id="subject" asp-for="Subject" placeholder="Subject">
                                    <span asp-validation-for="Subject" class="text-danger"></span>
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <textarea rows="6" class="form-control" id="message" asp-for="Content" placeholder="Your Message"></textarea>
                                    <span asp-validation-for="Content" class="text-danger"></span>
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="filled-button">Send Message</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="map">
    <!-- How to change your own map point
        1. Go to Google Maps
        2. Click on your location point
        3. Click "Share" and choose "Embed map" tab
        4. Copy only URL and paste it within the src="" field below
    -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2933.7518804922825!2d23.350570851514984!3d42.666613079065144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa85cb55c36753%3A0xbde203f1e5db85d1!2sul.%20%22Tintyava%22%2015-17%2C%201113%20NPZ%20Dianabad%2C%20Sofia!5e0!3m2!1sen!2sbg!4v1584306992786!5m2!1sen!2sbg" width="100%" height="500px" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

@section Scripts {
    <script>
        const item = document.getElementById('contact');
        item.classList.add('active');
    </script>
}
