@using PersonalStockTrader.Common
@model PersonalStockTrader.Web.ViewModels.Contact.ContactFormViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

@if (this.TempData["InfoMessage"] != null)
{
    <div id="emailConfirm" class="alert alert-warning alert-dismissible fade show" role="alert">
        @this.TempData["InfoMessage"]
        <button type="button" class="accept-policy close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">OK</span>
        </button>
    </div>
}

<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="main-banner header-text" id="top">
    <div class="Modern-Slider">
        <!-- Item -->
        <div class="item item-1">
            <div class="img-fill">
                <div class="text-content">
                    <h6>we are ready to help you</h6>
                    <h4>Financial Analysis<br>&amp; Consulting</h4>
                    <p>This web site is for everyone who wants to trade stocks at NYSE or NASDAQ. We provide full support for your decisions and business.</p>
                    <a asp-area="" asp-controller="Contact" asp-action="Index" class="filled-button">contact us</a>
                </div>
            </div>
        </div>
        <!-- // Item -->
        <!-- Item -->
        <div class="item item-2">
            <div class="img-fill">
                <div class="text-content">
                    <h6>we are here to support you</h6>
                    <h4>Accounting<br>&amp; Management</h4>
                    <p>We provide 24/7 accounting and consultation support. The best of our stuff is managing your accounts. You are in hands of proffesionals.</p>
                    <a asp-area="" asp-controller="Services" asp-action="Index" class="filled-button">our services</a>
                </div>
            </div>
        </div>
        <!-- // Item -->
        <!-- Item -->
        <div class="item item-3">
            <div class="img-fill">
                <div class="text-content">
                    <h6>we have a solid background</h6>
                    <h4>Market Analysis<br>&amp; Statistics</h4>
                    <p>We offer first class market analysis. The analysis of our employees is complemented by many statistics and graphs.</p>
                    <a asp-area="" asp-controller="About" asp-action="Index" class="filled-button">learn more</a>
                </div>
            </div>
        </div>
        <!-- // Item -->
    </div>
</div>
<!-- Banner Ends Here -->

<div class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Financial <em>Services</em></h2>
                    <span>Оur financial services are tailored to your needs</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item">
                    <img src="~/images/service_01.jpg" alt="">
                    <div class="down-content">
                        <h4>Digital Currency</h4>
                        <p>If you are interested in digital currency, here is the best place for you. We provide all trending currencies.</p>
                        <!-- <a href="" class="filled-button">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item">
                    <img src="~/images/service_02.jpg" alt="">
                    <div class="down-content">
                        <h4>Market Analysis</h4>
                        <p>We offer first class market analysis. The analysis of our employees is complemented by many statistics and graphs.</p>
                        <!-- <a href="" class="filled-button">Read More</a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item">
                    <img src="~/images/service_03.jpg" alt="">
                    <div class="down-content">
                        <h4>Historical Data</h4>
                        <p>We provide historical data for all stocks over a period of twenty years. We can save your data too. </p>
                        <!-- <a href="" class="filled-button">Read More</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fun-facts">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="left-content">
                    <span>We aim to satisfy your needs</span>
                    <h2>Our solutions for your <em>business growth</em></h2>
                    <p>
                        We dedicate our business to work for our customers. We have a wide range of institutional, commercial, professional and retail customers around the globe
                        <br><br>We offer our clients a more extensive global exchange network.
                    </p>
                    <!-- <a href="" class="filled-button">Read More</a> -->
                </div>
            </div>
            <div class="col-md-6 align-self-center">
                <div class="row">
                    <div class="col-md-6">
                        <div class="count-area-content">
                            <div class="count-digit">9450</div>
                            <div class="count-title">Satisfied customers</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="count-area-content">
                            <div class="count-digit">40</div>
                            <div class="count-title">Trading indicators</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="count-area-content">
                            <div class="count-digit">120</div>
                            <div class="count-title">Available stocks</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="count-area-content">
                            <div class="count-digit">5</div>
                            <div class="count-title">Digital currencies</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="more-info">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="more-info-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="left-image">
                                <img src="~/images/more-info.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 align-self-center">
                            <div class="right-content">
                                <span>Who we are</span>
                                <h2>Get to know about <em>our company</em></h2>
                                <p>We are a young institution filled with people with a lot of enthusiasm and willingness to work. Our main goal is to meet the needs of our clients and provide them with the best financial services possible.</p>
                                <!-- <a href="" class="filled-button">Read More</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="callback-form">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Request a <em>call back</em></h2>
                    <span>We take every email very seriously</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="contact-form">
                    <form id="contact" asp-controller="Contact" asp-action="Index" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <fieldset>
                                    <input type="text" class="form-control" id="name" asp-for="Name" placeholder="Full Name">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </fieldset>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <fieldset>
                                    <input type="text" class="form-control" id="email" asp-for="Email" placeholder="E-Mail Address">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </fieldset>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <fieldset>
                                    <input type="text" class="form-control" id="subject" asp-for="Subject" placeholder="Subject">
                                    <span asp-validation-for="Subject" class="text-danger"></span>
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <textarea rows="6" class="form-control" id="message" asp-for="Content" placeholder="Your Message"></textarea>
                                    <span asp-validation-for="Content" class="text-danger"></span>
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="border-button">Send Message</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        const item = document.getElementById('home');
        item.classList.add('active');
    </script>
}
