@using PersonalStockTrader.Common
@{
    this.ViewData["Title"] = "Our Services";
}

<!-- Page Content -->
<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>@this.ViewData["Title"]</h1>
                <span>We are over 20 years of experience</span>
            </div>
        </div>
    </div>
</div>

<div class="single-services">
    <div class="container">
        <div class="row" id="tabs">
            <div class="col-md-4">
                <ul>
                    <li><a href='#tabs-1'>Market Analysis <i class="fa fa-angle-right"></i></a></li>
                    <li><a href='#tabs-2'>Financial Data <i class="fa fa-angle-right"></i></a></li>
                    <li><a href='#tabs-3'>Account Management <i class="fa fa-angle-right"></i></a></li>
                    <li><a href='#tabs-4'>Overall Evaluation <i class="fa fa-angle-right"></i></a></li>
                </ul>
            </div>
            <div class="col-md-8">
                <section class='tabs-content'>
                    <article id='tabs-1'>
                        <img src="~/images/single_service_01.jpg" alt="">
                        <h4>Market Analysis</h4>
                        <p>
                            Alerting you to the ever-changing fundamental and technical factors that affect prices is the specialty of the prominent firm like our. We try to supply you with some of the best, most in-depth commentary in the financial industry.
                            <br><br>As a customer with @GlobalConstants.SystemDisplayName, you’ll have free access to news, analysis and trade recommendations across all market segments. And, don’t worry if you miss a day. You’ll find past reports in our archives.
                        </p>
                    </article>
                    <article id='tabs-2'>
                        <img src="~/images/single_service_02.jpg" alt="">
                        <h4>Financial Data</h4>
                        <p>
                            From corn and soybeans to gold, crude oil and currencies, you’ll trade in vibrant markets used to establish benchmark prices around the world. There’s something for stock and bond traders, too, with a multitude of stock index futures contracts on international stock markets as well as U.S. Treasuries.
                            <br><br>For the U.S. stock market, select from broad stocks included in Dow Jones Industrial Average® and S&P 500®, as well as those for mid-cap, small-cap and NASDAQ® stocks. Volatility traders flock to VIX futures.
                        </p>
                    </article>
                    <article id='tabs-3'>
                        <img src="~/images/single_service_03.jpg" alt="">
                        <h4>Account Management</h4>
                        <p>
                            By registering and indicating your starting balance, your account will be reviewed and approved by our account managers. When you transfer money, you will have a functioning account.
                            <br><br>You can use our online portal to gain quick, easy access to every detail about your account and trading – including your own intraday and historical information.
                            <br><br>We provide you with monitoring all trades and open positions on an intraday basis. Retrieve and print your daily and monthly account statements, both current and up to 20 years prior. Our monthly commissions and trade fees are totally negotiable.
                        </p>
                    </article>
                    <article id='tabs-4'>
                        <img src="~/images/single_service_04.jpg" alt="">
                        <h4>Overall Evaluation</h4>
                        <p>
                            The futures markets are dynamic, volatile and highly unpredictable. We strongly believe that our active approach to risk management across all areas—from regulatory to trade risk – is one of the key foundations on which the firm is built.
                            <br><br>We have seen first-hand the risks that the markets and traders have offered up—from market crashes and market squeezes to bear and bull markets. As our lengthy track record shows, @GlobalConstants.SystemDisplayName has consistently handled all types of markets with a calm resolve and unyielding commitment to customer protection—something we plan on delivering to our valued customers for a long time to come.
                        </p>
                    </article>
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        const item = document.getElementById('services');
        item.classList.add('active');
    </script>
}