@{
    this.ViewData["Title"] = "Home - " + User.Identity.Name;
}

<div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-danger">Account Information</h1>
            <hr/>
            <h3 class="lead">
                Your account is under revision
            </h3>
            <div class="text-info" style="font-size: 90px; margin-left: 300px">
                <i class="fa fa-10x animated fa-wrench wrench wait1"></i>
            </div>
        </div>
    </div>
</div>