@model PersonalStockTrader.Web.ViewModels.Administration.Dashboard.IndexViewModel
@{
    this.ViewData["Title"] = "Account managers";
}

<div class="container-fluid">
    <div class="request-form">
        <h1 style="margin: 2%; text-align: center;">@this.ViewData["Title"]</h1>

        <div class="button-holder">
            <a asp-area="Administration" asp-controller="Dashboard" asp-action="CreateAccountManager" class="btn btn-info text-uppercase btn-icon-text">Create Account Manager</a>
        </div>
    </div>
</div>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table id="managersTable" class="table table-hover table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" class="text-center">#</th>
                            <th scope="col" class="text-center">Username</th>
                            <th scope="col" class="text-center">Email</th>
                            <th scope="col" class="text-center">Update</th>
                            <th scope="col" class="text-center">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.AccountManagers.Count(); i++)
                        {
                            <tr>
                                <th scope="row" class="text-center">@(i + 1)</th>
                                <td class="text-center">@Model.AccountManagers[i].Username</td>
                                <td class="text-center">@Model.AccountManagers[i].Email</td>
                                <td class="text-center">
                                    <div class="button-holder">
                                        <a href="/Administration/Dashboard/UpdateAccountManager?UserId=@Model.AccountManagers[i].UserId" class="btn btn-inverse-info text-uppercase">Update</a>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="button-holder">
                                        <a href="/Administration/Dashboard/DeleteAccountManager?UserId=@Model.AccountManagers[i].UserId" class="btn btn-danger text-uppercase">Delete</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#managersTable').DataTable({
                "pagingType": "simple_numbers"
            });
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
}