@using PersonalStockTrader.Common
@using PersonalStockTrader.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="nav">
    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
    <li class="nav-item">
        <a class="nav-link" asp-area="Administration" asp-controller="Dashboard" asp-action="Index">
            <i class="mdi mdi-account-multiple menu-icon text-info"></i>
            <span class="menu-title text-info font-weight-bold">Manage<br />account managers</span>
        </a>
        <a class="nav-link" asp-area="Administration" asp-controller="Emails" asp-action="Index">
            <i class="mdi mdi-email menu-icon text-info"></i>
            <span class="menu-title text-info font-weight-bold">Manage emails</span>
        </a>
    </li>
    }
    else if (this.User.IsInRole(GlobalConstants.AccountManagerRoleName))
    {

    }
    else
    {

    }
</ul>
